#todoContainer {
  text-align: center;
}
#todoContainer h1 {
  background: black;
  color: white;
  padding: 5px;
}
.todoTask {
  width: 200px;
  margin-left: 565px;
  text-align: left;
}
.todoTask .todoIndex {
  font-weight: bold;
}
.todoTask .todoText {
  padding-left: 15px;
  padding-right: 15px;
}
.todoTask .rightClick {
  width: 20px;
  height: 20px;
  position: relative;
  left: 150px;
}
#todoContainer .newToDoBox .todoInputBox {
  margin-left: 15px;
  margin-right: 15px;
}
